1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [46]:
#a)

result = []

for i in range(1, 101):
    app = ""
    if i%3 == 0:
        app += "Mickey"
    if i%5 == 0:
        app += "Mouse"
    else:
        app = i
    result.append(app)
        
for res in result:
    print(res)

1
2
3
4
Mouse
6
7
8
9
Mouse
11
12
13
14
MickeyMouse
16
17
18
19
Mouse
21
22
23
24
Mouse
26
27
28
29
MickeyMouse
31
32
33
34
Mouse
36
37
38
39
Mouse
41
42
43
44
MickeyMouse
46
47
48
49
Mouse
51
52
53
54
Mouse
56
57
58
59
MickeyMouse
61
62
63
64
Mouse
66
67
68
69
Mouse
71
72
73
74
MickeyMouse
76
77
78
79
Mouse
81
82
83
84
Mouse
86
87
88
89
MickeyMouse
91
92
93
94
Mouse
96
97
98
99
Mouse

In [ ]:
#b)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [18]:
x = 9
y = 4

def swap(a, b):
    
    
swap(x, y)  
print(x, y)

9 4

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [16]:
import math

u = (3, 0)
v = (0, 4)

def dist(x, y):
    return math.sqrt((x[0]-y[0])**2 + (x[1]-y[1])**2)

print("{:.3f}".format(dist(u, v)))

5.000

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [2]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [41]:
y = 2

def square(x):
    return x*x

def cube(x):
    return x*x*x

def pow6(x):
    return square(cube(x))

print(pow6(y))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [36]:
#a)
v = []
for i in range(11):
    v.append(i**3)
    
print(v)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [37]:
#b)

v = [i**3 for i in range(11)]
print(v)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
sols = tuple()

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [34]:
#Numbers have to be positive for every tuple to be normalizable to 1

tup = (4, 3.5, 18, 2, 3.12)
#tup = (4, -3.5, 18, 2, 3.12)

def is_positive(v):
    check = True
    for val in v:
        if val<0:
            check = False
    return check

def norm(v):
    n = sum(v)
    if is_positive(v):
        return tuple(k/n for k in tup)
    else:
        print("The tuple must contain positive values only")
        return v

print(norm(tup))

(0.13063357282821686, 0.11430437622468974, 0.5878510777269759, 0.06531678641410843, 0.10189418680600915)